<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Trang Chủ</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://kit.fontawesome.com/0e6c29c291.js"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/user-homepage-style.css}">
<link rel="icon" type="image/png" sizes="192x192" href="img/iconn.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/iconn.png">
<link rel="icon" type="image/png" sizes="96x96" href="img/iconn.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/iconn.png">
</head>
<body class="bg-gray">
	<div th:insert="creator/shared/menu::menu"></div>
	<section id="search-side">
		<form method="POST">
			<input type="text" th:value="${keyword}" name="keyword" id="keyword" />
			<input type="submit" value='Search'>
		</form>
	</section>
	<div class="mg-main mx-auto ">
		<div class="row " id="content">

			<div class="col-9 high ">
				<div class="">
					<div class="boxcont magb20">
						<div class="title">
							<span>Tiểu học - THCS - THPT</span> <a class="view-all"
								href="/user/thi/page/1">Xem tất cả</a>
						</div>
						<div class="box ">
							<th:block th:each="dethi : ${dsDeThi}">
								<div class="item">
									<div class="title-top ">

										<i class="fas fa-pencil-ruler fm-test"></i>
										<div class="content">
											<h3>
												<a th:href="@{'/user/thi/'+${dethi.idDe}}"
													th:text=${dethi.tenDe}></a>
											</h3>
											<div class="tools">
												<ul class="list">
													<li th:text="@{${dethi.thoiGianThi}+' Phút'}"><i
														class="fas fa-history fm-ic mr-1"></i>45 phút</li>
													<li th:text="@{${dethi.cauHois.size()}+' Câu'}"><i
														class="far fa-comments  fm-ic mr-1"></i> 40 câu</li>
													<li>
														<button
															style="background-color: transparent; border: none"
															data-toggle="tooltip" title="Lưu đề"
															onclick="likedExam(this,2534)">
															<i class="far fa-heart fm-ic mr-1"></i><span>0</span>
														</button>

													</li>
												</ul>
											</div>
										</div>
									</div>
									<h6 th:text="@{'Môn: '+${dethi.monHoc.tenMonHoc}}"></h6>
									<h6 th:text="${dethi.lop.tenLop}"></h6>
									<div class="tag magb20"></div>
									<div class="following">
										<div class="left">
											<ul class="list-folw">
												<th:block th:if="${dethi.ThamGiaThis.size()>0}">
													<li><span th:text="@{'+'+${dethi.ThamGiaThis.size()}}">+11</span></li>
													<th:block th:each="thamgiathi,pos : ${dethi.ThamGiaThis}">
													<th:block th:if="${thamgiathi.taiKhoan!=null and pos.index < 6}">
														<li th:if="${thamgiathi.taiKhoan.urlAvatar}!=null"><span> 
														<img
																
																width="30px" th:src="${thamgiathi.taiKhoan.urlAvatar}">
														</span></li>
														<li th:unless="${thamgiathi.taiKhoan.urlAvatar!=null }" ><span> 
														<img
																
																width="60px" th:src="@{'https://ui-avatars.com/api/?name='+${thamgiathi.taiKhoan.hoVaTen}}">
														</span></li>
														</th:block>
													</th:block>
												</th:block>
												<th:block th:unless="${dethi.thamGiaThis.size()>0}">
													<li><span th:text="@{'+'+${dethi.thamGiaThis.size()}}">+0</span></li>
												</th:block>



											</ul>
										</div>
										<a th:href="@{'/user/examDetail/'+${dethi.idDe}}" class="btn-white">Chi tiết <i
											class="fas fa-chevron-right fm-ic ml-2 mt-1"></i></a>
									</div> 
								</div>

							</th:block>

						</div>
					</div>
				</div>
			</div>

			<div class="col-3  ml-fit px-fit">
				<div class="sidebar ranking magb20">
					<div class="title ml-3">
						<span class="">Xếp hạng người dùng điểm cao nhất</span>
					</div>
					<div class="box fm-box mx-auto">
						<ul class="list" th:each="User,pos : ${TopUser}">
							<li>
								<div class="relative">
									<img th:if="${User.UrlAvatar}!=null" width="30px" height="30px" th:src="${User.UrlAvatar}"> 
									<img th:unless="${User.UrlAvatar}!=null" width="30px"  height="30px" th:src="@{'https://ui-avatars.com/api/?name='+${User.hoVaTen}}"> 
									
									<span
										th:class="@{'rank rank'+${pos.index+1}}" th:text="${pos.index+1}"></span>
								</div>
								<div class="clearfix">
									<p>
										<a href="/profile/personal?user_id=10473"
											th:text="${User.HoVaTen}" class="name"></a>
									</p>
									<span class="clred" th:text="${User.DiemTichLuy}"></span>
									điểm
									<p class="cl99"
										th:text="@{${User.ThamGiaThis.size()} + ' Lần thi'}"></p>
								</div>
							</li>


						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:if="${totalPages > 1}">
		<div class="row ">

			<div class="col-sm-2"></div>
			<div class="col-sm-3" style="margin-top: 5px;">Tổng số đề:
				[[${totalItems}]]</div>
			<div class="pagination col-sm-6">
				<!-- previous -->
				<span class="page-item"> <a th:if="${currentPage > 1 }"
					class="page-link"
					th:href="@{'/user/thi/page/' + ${currentPage - 1 }}">Previous</a>
				</span> <span class="page-item"> <span class="page-link"
					th:unless="${currentPage > 1}" style="color: gray">Previous</span>
				</span>
				<!-- number -->
				<span th:each="i: ${#numbers.sequence(1, totalPages)}"
					class="page-item"> <a class="page-link"
					th:if="${currentPage != i}" th:href="@{'/user/thi/page/' + ${i}}">[[${i}]]</a>
					<span class="page-link"
					style="background-color: blue; color: white;"
					th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
				</span>

				<!-- next -->
				<span class="page-item"> <a
					th:if="${currentPage < totalPages}" class="page-link"
					th:href="@{'/user/thi/page/' + ${currentPage + 1}}">Next</a>
				</span> <span class="page-item"> <span class="page-link"
					th:unless="${currentPage < totalPages}" style="color: gray">Next</span>
				</span>
				<!-- last -->
				<span class="page-item"> <a
					th:if="${currentPage < totalPages}" class="page-link"
					th:href="@{'/user/thi/page/' + ${totalPages}}">Last</a> <span
					style="color: gray;" th:unless="${currentPage < totalPages}"
					class="page-link">Last</span>
				</span>
			</div>

		</div>
	</div>
</body>
</html>