<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">


<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/user-homepage-style.css}">

<title>Thông tin tài khoản</title>
</head>
<body>
	<nav th:insert="creator/shared/menu::menu"></nav>
	<nav th:insert="creator/shared/sidebar::sidebar"></nav>

	<section class="container">
		<div class="row">
			<div class="col-9">
				<h1>Danh sách các đề thi mẫu</h1>
				<div class="row" th:each="dethi : ${dsDeThi}">
					<div class="col-sm-4">
					<img  th:src ="@{/image/a.png}" height="200px" >
					</div>
					<div class="col-sm-8">
						<h3><a th:href="@{'/user/thi/'+${dethi.idDe}}" th:text=${dethi.tenDe} ></a></h3>
						<h6  th:text="@{ 'Ngày tạo: '+${dethi.ngayTao} }"></h6>
						<h4  th:text=${dethi.moTa} ></h4>
					</div>
				</div>
				
			</div>
			<div class="col-3"></div>
		</div>
	</section>
	
	

</body>
</html>