<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" th:href="@{/css/mystyle.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/user-homepage-style.css}">
<title>Điều chỉnh đề thi</title>
</head>
<body>
	<nav th:insert="creator/shared/menu::menu"></nav>
	<nav th:insert="creator/shared/sidebar::sidebar"></nav>

	<section class="container">
		<h4>Đề [[${idDe}]] : [[${tenDe}]]</h4>
		<div class="row border">
			<div class="col-7">

				<form class=" d-flex flex-column" th:object="${cauHoi}"
					th:action="@{'/manageExam/'+${idDe}+'/addQuestion'}" method="post" enctype="multipart/form-data">
					<h4><strong>Thêm câu hỏi: </strong></h4>
					<p>Hình ảnh</p>
					<input type="file"  name="files" multiple>
					<p style="margin-top: 5px"> Nội dung câu hỏi</p>
					<textarea th:field="*{noiDung}"></textarea>
					<span th:if="${#fields.hasErrors('noiDung')}"
						th:errors="*{noiDung}" class="text-danger help-block"></span>
					Giải thích:
					<textarea th:field="*{giaiThich}" ></textarea>
					<span th:if="${#fields.hasErrors('giaiThich')}"
						th:errors="*{giaiThich}" class="text-danger help-block"></span>
					Phương án:
					<div>
						<input type="text" name="phuongAn" placeholder="Phương án 1"
							required="required"> <label><input
							type="checkbox" value="0" name="isCorrect">Đúng?</label>
					</div>
					<div class="mt-2">
						<input type="text" name="phuongAn" placeholder="Phương án 2"
							required="required"> <label><input
							type="checkbox" value="1" name="isCorrect">Đúng?</label>
					</div>
					<div class="mt-2">
						<input type="text" name="phuongAn" placeholder="Phương án 3"
							required="required"> <label><input
							type="checkbox" value="2" name="isCorrect">Đúng?</label>
					</div>
					<div class="mt-2">
						<input type="text" name="phuongAn" placeholder="Phương án 4"
							required="required"> <label><input
							type="checkbox" value="3" name="isCorrect">Đúng?</label>
					</div>
					<div class="alert alert-danger hide" id="correctMsg">Phải có
						ít nhất 1 phương án đúng!</div>
					<div>
						<input id="accept" class="btn btn-success" type="submit"
							value="Lưu">
					</div>
				</form>
			</div>
			<!-- <div class="col-5">
				<a class= "btn btn-sm btn-outline-primary ml-3 mt-3" th:each="item: ${listCauHoi}" th:utext="${myCounter.getIndexAndIncrease}" href= "#">1</a>
				<a class="btn btn-sm btn-primary mt-3 ml-3" href="#">new</a>
			</div> -->

			<div th:insert="/creator/shared/listQuestion::listCauHoi"></div>
		</div>

	</section>

	<script type="text/javascript" th:src="@{/js/kiemTraCorrect.js}"></script>
</body>
</html>