<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Chỉnh sửa/ thêm câu hỏi</title>
</head>
<body>
	<nav th:insert="creator/shared/menu::menu">
	</nav>
	<nav th:insert="creator/shared/sidebar::sidebar">
	</nav>
	
	<section class="container">
		<h4>Đề thi số 1: Đề toán nâng cao</h4>
		<div class= "row border">
			<div class="col-7">
		
				<form class=" d-flex flex-column" th:object="${cauHoi}" th:action="@{/manageExam/1/addQuestion}" method="post">
					<p> Câu hỏi 1: </p>
					<input type="file" >
					<textarea th:field="*{noiDung}" >Ai là người đầu tiên lên mặt trăng?</textarea>
					Giải thích:
					<textarea th:field="*{giaiThich}">easyyy</textarea>
					Đáp án:
					<div>
						<input type="text" name="phuongAn" placeholder="Phương án 1" >
						<label><input type="checkbox" value="0" name="isCorrect">Đúng?</label>
					</div>
					<div class="mt-2">
						<input type="text" name="phuongAn" placeholder="Phương án 2">
						<label><input type="checkbox" value="1" name="isCorrect">Đúng?</label>
					</div>
					<div class="mt-2">
						<input type="text" name="phuongAn" placeholder="Phương án 3">
						<label><input type="checkbox" value="2" name="isCorrect">Đúng?</label>
					</div>
					<div class="mt-2">
						<input type="text" name="phuongAn" placeholder="Phương án 4">
						<label><input type="checkbox" value="3" name="isCorrect">Đúng?</label>
					</div>
					<div>
						<input class="btn btn-success" type="submit" value="Lưu">
					</div>
				</form>
			</div>
			<div class="col-5">
				<a class= "btn btn-sm btn-outline-primary ml-3 mt-3" th:each="i: ${#numbers.sequence(1,10)}" th:utext="${i}" href= "#">1</a>
				<a class="btn btn-sm btn-primary mt-3 ml-3" href="#">new</a>
			</div>
		</div>
		
	</section>
			
	
</body>
</html>