<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/mystyle.css}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/user-homepage-style.css}">
<title>Điều chỉnh đề thi</title>
</head>
<body>
	<nav th:insert="creator/shared/menu::menu">
	</nav>
	<nav th:insert="creator/shared/sidebar::sidebar">
	</nav>
	
	<section class="container">
		<h4>Đề 1 : Toán nâng cao</h4>
		
		<div class= "row border">
			<div class="col-7 border-right">
				<a class="btn btn-danger float-right mt-2" id="deleteQuestion">Xóa</a>
				<form class=" d-flex flex-column" th:object="${cauHoi}" th:action="@{'/editQuestion'}" method="post" enctype="multipart/form-data">
					<p class="pt-2"> Câu hỏi [[${cauHoi.idCauHoi}]]: </p>
					Hình ảnh
					<input type="file"  name="files" multiple>
					<input class="hide" type="text" th:field="*{idCauHoi}">
					<p style="margin-top: 5px"> Nội dung câu hỏi:</p>
					<textarea th:field="*{noiDung}" required="required" ></textarea>
					Giải thích:
					<textarea th:field="*{giaiThich}" required="required" ></textarea>
					Phương án:
					<div th:each="pa : *{phuongAns}">
						<input type="text" name="phuongAn" th:value="${pa.noiDung}" required="required" placeholder="Phương án 1" >
						<label>
							<input type="checkbox" 
							th:if="${pa.isCorrect} ==true" 
							checked="checked" 
							th:value="${correctCounter.indexAndIncrease}" 
							name="isCorrect" >
							<input type="checkbox" 
							th:if="${pa.isCorrect} ==false"
							th:value="${correctCounter.indexAndIncrease}" 
							name="isCorrect">
						Đúng?</label>
					</div>
					<div class="alert alert-danger hide" id="correctMsg">Phải có ít nhất 1 phương án đúng!</div>
					<div>
						<input id="accept" class="btn btn-success" type="submit" value="Lưu">
						
					</div>
				</form>
			</div>
			<div th:insert="/creator/shared/listQuestion::listCauHoi">
			</div>
		</div>
	</section>
	<script type="text/javascript" th:src="@{/js/kiemTraCorrect.js}">   </script>
	<script th:inline="javascript" type="text/javascript">   
	$(document).ready(function(){
		$('#deleteQuestion').click(function(){
			var confirmed = confirm('Are you sure?');
			var actionStr = /*[[${cauHoi.idCauHoi}]]*/ "abc";
			if(confirmed){
				$.post( "/deleteQuestionInside/"+actionStr, function( data ) {
					window.location.replace("/manageExam/"+data+"/addQuestion");
				});
			}
			else {
				event.preventDefault();
			}
		})
	})
	</script>
</body>
</html>