<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Insert title here</title>
</head>
<body>
	<nav th:insert="creator/shared/menu::menu">
	</nav>
	<nav th:insert="creator/shared/sidebar::sidebar">
	</nav>
	
	<section class="container">
		<h4> Mã đề: [[${idDe}]]- [[${tenDe}]]</h4>
		<a class="btn btn-success" th:href="@{'/manageExam/'+${idDe} +'/addQuestion'}">Thêm thủ công</a>
		<a th:href="@{'/addQuestionExcel/'+${idDe}}" class="btn btn-primary">Thêm bằng file excel</a>
		
		<table class="table table-bordered mt-2">
		<tr>
			<th class="w-25">Nội dung câu hỏi</th>
			<th class="w-25">Giải thích</th>
			<th class="w-25">Các phương án</th>
			<th class="w-25"></th>
		</tr>
		<tr th:each="cauHoi : ${pageCauHoi.content}">
			<td th:utext = "${cauHoi.noiDung}">Ai là người đâu tiên cai trị đế chế La Mã cổ đại?</td>
			<td th:utext = "${cauHoi.giaiThich}">Ai là người đâu tiên cai trị đế chế La Mã cổ đại?Ai là người đâu tiên cai trị đế chế La Mã cổ đại?</td>
			<td>
				<ul class="list-group">
					<th:block th:each="phuongAn : ${cauHoi.phuongAns}">
						<li class="list-group-item active" th:utext="${phuongAn.noiDung}" th:if="${phuongAn.isCorrect}">Leonardo vanci</li>
						<li class="list-group-item" th:utext="${phuongAn.noiDung}" th:unless="${phuongAn.isCorrect}">Leonardo vanci</li>
					</th:block>
				</ul>
			</td>
			<td>
				<a class="btn btn-info">Sửa</a>
				<form action="" method="post">
					<input type="submit" value="Xóa">
				</form>
			</td>
		</tr>
	</table>
	<div>
		Tổng số trang: <span th:utext="${pageCauHoi.totalPages}"></span> <br>
		Hiển thị : <span th:utext="${pageCauHoi.size}"></span>trên tổng số: <span th:utext="${pageCauHoi.totalElements}"></span>
		Hiện tại: <span th:utext="${pageNumber}"></span>
	</div>
		<ul class="pagination justify-content-center">
		    <li class="page-item" th:if="${hasPrevios}">
		    <a class="page-link" th:href="@{'/manageExam/'+${idDe}+'/manageQuestion/'+${pageNumber-1}}">Previous</a></li>
	    	<li class="page-item" th:each="i : ${#numbers.sequence(1, pageCauHoi.totalPages)}">
	    	<a class="page-link" th:href="@{'/manageExam/'+${idDe}+'/manageQuestion/'+${i}}" th:utext="${i}">1</a>
	    	</li>
	    	<li class="page-item" th:if="${hasNext}"><a class="page-link" th:href="@{'/manageExam/'+${idDe}+'/manageQuestion/'+${pageNumber+1}}">Previous</a></li>
		</ul>
	</section>
			
	
</body>
</html>