


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/user-homepage-style.css}">
<link rel="icon" type="image/png" sizes="192x192"  th:href="@{img/iconn.png}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{img/iconn.png}" href="img/iconn.png">
<link rel="icon" type="image/png" sizes="96x96" th:href="@{img/iconn.png}" href="img/iconn.png">
<link rel="icon" type="image/png" sizes="16x16" th:href="@{img/iconn.png}" href="img/iconn.png">
<title>Insert title here</title>
</head>
<body>
	<nav th:insert="creator/shared/menu::menu">
	</nav>
	<nav th:insert="creator/shared/sidebar::sidebar">
	</nav>
	<section class="container">
		<h4 class="text-uppercase font-weight-bold text-center">Thêm câu hỏi bằng file excel</h4>
		Tải file mẫu <a href="/excel/abc.xlsx">tại đây</a>
		<div class="card d-flex flex-row mt-3">
			<form class="form-group mt-3" th:action="@{'/upload/'+${idDe}}" method="post" enctype="multipart/form-data">
				<label class="ml-3 font-weight-bold">Chọn file .xlsx</label>
				<input class="form-control-file ml-3" type="file" name="files" multiple accept=".xlsx">
				<input class="btn btn-sm btn-success mt-3 ml-3" type="submit" value="Upload Files">
			</form>
		</div>
	</section>
			
	
</body>
</html>