<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/user-homepage-style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/userinfo.css}">
<link rel="icon" type="image/png" sizes="192x192"  th:href="@{img/iconn.png}">
<link rel="icon" type="image/png" sizes="32x32" th:href="@{img/iconn.png}" href="img/iconn.png">
<link rel="icon" type="image/png" sizes="96x96" th:href="@{img/iconn.png}" href="img/iconn.png">
<link rel="icon" type="image/png" sizes="16x16" th:href="@{img/iconn.png}" href="img/iconn.png">
<title>Insert title here</title>
</head>
<body>
	<nav th:insert="creator/shared/menu::menu">
	</nav>
	<nav th:insert="creator/shared/sidebar::sidebar">
	</nav>
	<section class="container emp-profile">
		<h5>Đổi mật khẩu</h5>
		<form th:action="@{/user/changepassword}" method = "post" class="was-validated">
		    <div class="form-group">
		      <label for="pwd">Password:</label>
		      <input type="password" class="form-control" id="pwd" placeholder="Mật khẩu cũ" name="password" required>
		      <div class="valid-feedback">Valid.</div>
		      <div class="invalid-feedback">Please fill out this field.</div>
		    </div>
		    <div class="form-group">
		      <label for="pwd">Password:</label>
		      <input type="password" class="form-control" id="pwd" placeholder="Mật khẩu mới" name="newPassword" required>
		      <div class="valid-feedback">Valid.</div>
		      <div class="invalid-feedback">Please fill out this field.</div>
		    </div>
		    <div class="form-group">
		      <label for="pwd">Password:</label>
		      <input type="password" class="form-control" id="confirmNewPassword" placeholder="Xác nhận mật khẩu mới" name="pswd" required>
		      <div class="valid-feedback">Valid.</div>
		      <div class="invalid-feedback">Please fill out this field.</div>
		    </div>
		    <button type="submit" class="btn btn-primary" value="Xác nhận">Submit</button>
		  </form>
	</section>
	
	<script type="text/javascript">
		$(document).ready(function(){
			var newPassword = $("input[name='newPassword']").val();
			var confirmNewPassword = $("#confirmNewPassword").val();
			if(!newPassword.localeString(confirmNewPassword)){
				event.preventDefault();
			}
		})
	</script>
</body>
</html>