<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link rel="stylesheet"
	th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/loginForm.css}">
<title>Đăng nhập</title>
</head>

<body>
	<div class="container-fluid">
		<div id="header" class="row row_head">
			<h3>TRẮC NGHIỆM ONLINE</h3>
		</div>
		<div class="row row_center">
			<div class="jumbotron">
				<div class="head">
					<h2>Đăng Nhập</h2>

				</div>

				<form th:action="@{/login}" method="POST">
					<input class="form-control user_form" type="text"
						placeholder="Nhập user" name="username"> <input
						class="form-control user_form" type="password"
						placeholder="Nhập password" name="password"> <input
						class="form-control btn btn-primary user_form" type="submit"
						value="Đăng nhập">
				</form>
				<div class="user_form ">
					<p>Hoặc</p>
				</div>
				<div class="col-xs-12 btn btn-primary btn-lg btn-block user_form"
					style="padding: 0 100px;">
					<a class="btn facebook" href=""> <i
						class="fab fa-facebook-square"></i> <span class="">facebook</span>
					</a>
				</div>
				<div class="user_form">
					<p>Bạn chưa có tài khoản?</p>
					<a th:href="@{/register}">Đăng ký</a>
				</div>
			</div>
		</div>
	</div>
</body>

</html>