<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link rel="stylesheet"
	th:href="@{https://use.fontawesome.com/releases/v5.4.1/css/all.css}"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">

<script type="text/javascript"
	th:src="@{http://code.jquery.com/jquery-1.11.3.js}"></script>

<link rel="stylesheet" th:href="@{/css/loginForm.css}">
<title>ĐĂNG NHẬP</title>

<script type="text/javascript">
	$(document).ready(function() {
		$(function() {
			if (localStorage.chkbox && localStorage.chkbox != '') {
				$('#rememberMe').attr('checked', 'checked');
				$('#loginName').val(localStorage.username);
				$('#loginPass').val(localStorage.pass);
			} else {
				$('#rememberMe').removeAttr('checked');
				$('#loginName').val('');
				$('#loginPass').val('');
			}

			$('#rememberMe').click(function() {

				if ($('#rememberMe').is(':checked')) {
					// save username and password
					localStorage.username = $('#loginName').val();
					localStorage.pass = $('#loginPass').val();
					localStorage.chkbox = $('#rememberMe').val();
				} else {
					localStorage.username = '';
					localStorage.pass = '';
					localStorage.chkbox = '';
				}
			});
		});
	});
</script>
</head>

<body>
	<div class="container-fluid">
		<div id="header" class="row row_head">
			<h3>TRẮC NGHIỆM ONLINE</h3>
		</div>
		<div class="row row_center">
			<div class="jumbotron">
				<div class="head">
					<h2>ĐĂNG NHẬP</h2>
				</div>
				<form th:action="@{/login}" method="POST">
					<input class="form-control user_form" type="text"

						placeholder="Nhập user" id="loginName" name="username"> 
        <input class="form-control user_form" id="loginPass" type="password" placeholder="Nhập password" name="password">
        <p class="alert alert-danger" th:if="${hasError}!=null" th:utext="${hasError}" > 
					ssssssss
					</p>
					<div class="row_center__remember">
						<input type="checkbox" value="lsRememberMe" id="rememberMe" class="mr-2" />
            <label>Lưu mật khẩu</label>
					</div>
					<input class="form-control btn btn-primary user_form" type="submit" value="Đăng nhập">
				</form>
				<div class="user_form mt-0 mb-0">Hoặc</div>
				<div class="col-xs-12 btn btn-primary btn-lg btn-block user_form"
					style="padding: 0 100px;">
					<a class="btn facebook" href=""> <i
						class="fab fa-facebook-square"></i> <span class="">facebook</span>
					</a>
				</div>
				<div class="user_form">
					Bạn chưa có tài khoản? <a th:href="@{/register}">Đăng ký</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>