<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/loginForm.css}">
<link rel="stylesheet"
	th:href="@{/fonts/fontawesome-free-5.15.1-web/css/all.min.css}">
<title>Đăng nhập</title>
</head>
<body>
	<div class="container-fluid">
		<div id="header" class="row row_head ">
			<h3>TRẮC NGHIỆM ONLINE</h3>
		</div>
		<div class="row row_center">
			<div class="jumbotron">
				<div class="head">
					<h2>Đăng Ký</h2>
				</div>

				<form th:action="@{/register}" th:object="${taiKhoan}" method="post">
					<input class="form-control user_form" type="text"
						placeholder="Nhập user" th:field="*{username}" required="required">
					<input class="form-control user_form" type="password"
						placeholder="Nhập password" th:field="*{password}"
						required="required"> <input class="form-control user_form"
						type="password" placeholder="Nhập lại password"
						required="required"> <input class="form-control user_form"
						type="text" placeholder="Nhập họ tên" th:field="*{hoVaTen}"
						required="required"> <input class="form-control user_form"
						type="email" placeholder="Nhập email" th:field="*{email}"
						required="required"> <input class="form-control user_form"
						type="text" placeholder="Nhập số điện thoại" th:field="*{sdt}"
						required="required"> <input class="form-control user_form"
						type="date" placeholder="Nhập ngày sinh" th:field="*{ngaySinh}"
						required="required"> <input class="form-control user_form"
						type="text" placeholder="Nhập địa chỉ" th:field="*{diaChi}"
						required="required"> <input
						class="form-control btn btn-primary user_form reg_DK"
						type="submit" value="Đăng ký">
				</form>
			</div>
		</div>
	</div>
</body>
</html>