<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
<nav th:insert="creator/shared/menu::menu">
	</nav>
	<nav th:insert="creator/shared/sidebar::sidebar">
	</nav>
	<div class="row">
		<div class="col-md-2">
			
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<form>
				<div class="form-group" align="right" >
					<a th:href="@{/addExam}" class="btn btn-success" > thêm đề thi</a>
					<table border="1" class="table table-striped" style="margin-top: 10px">
						<tr>
							<th>ID</th>
							<th>Tên đề</th>
							<th>Tên môn học</th>
							<th>Tên Lớp</th>
							<th>Sửa</th>
							<th>Xóa</th>
							<th>Thêm câu hỏi</th>
			
						</tr>
						<tr th:each="exam : ${listExam}">

							<td th:utext="${exam.idDe}"></td>
							<td th:utext="${exam.tenDe}"></td>
							<td th:utext="${exam.monHoc.tenMonHoc}" th:if="${exam.monHoc!=null}"></td>
							<td th:unless="${exam.monHoc}">NULL</td>
							<td th:utext="${exam.lop.tenLop}" th:if="${exam.lop!=null}"></td>
							<td th:unless="${exam.lop}">NULL</td>
							 <td style="color: #ffca0a"> <i class="fas fa-edit"></i><a  th:href="@{'/editExam/'+${exam.idDe}}">Sửa</a>
							</td>
							<td style="color: #ff6347"> <i class="fas fa-trash-alt"></i><a th:href="@{'/deleteExam/'+${exam.idDe}}">Xóa</a></td>
						<td style="color: blue;"> <i class="far fa-plus-square"></i><a th:href="@{'/manageExam/'+${exam.idDe}}+'/manageQuestion'">Thêm câu hỏi</a></td>
						</tr>
					</table>


				</div>

			

			</form>

		</div>
		<!-- pagination -->
	</div>
	<div th:if="${totalPages > 1}">
			<div class="row ">
			
				<div class="col-sm-2"></div>
				<div class="col-sm-4" style="margin-top: 5px;">Tổng số đề: [[${totalItems}]]</div>
				<div class="pagination col-sm-6">
					
					<span th:each="i: ${#numbers.sequence(1, totalPages)}" class="page-item" > <a class="page-link" 
						th:if="${currentPage != i}" th:href="@{'/manageExam/page/' + ${i}}">[[${i}]]</a>
						<span class="page-link" style="background-color:blue;color: white; " th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
						&nbsp;
					</span>
					
					<!-- next -->
					<span class="page-item">
					<a th:if="${currentPage < totalPages}"  class="page-link" 
						th:href="@{'/manageExam/page/' + ${currentPage + 1}}">Next</a>
						</span>
						<span class="page-item">
						 <span class="page-link" 
						th:unless="${currentPage < totalPages}" style="color: gray">Next</span>
					</span>
					<!-- last -->	
					<span class="page-item">
						<a th:if="${currentPage < totalPages}" class="page-link"
						th:href="@{'/manageExam/page/' + ${totalPages}}">Last</a>
						 <span style="color: gray;"
						th:unless="${currentPage < totalPages}" class="page-link">Last</span>
					</span>
				</div>
				
			</div>
		</div>

	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>