<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link rel="stylesheet" media="screen"
	href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>
	<div class="row profile">
		<div class="col-md-2">
			<div class="profile-sidebar">
				<div class="profile-userpic">
					<img
						src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg"
						class="img-responsive" alt="">
				</div>
				<div class="profile-usermenu">
					<ul class="nav">
						<li><a href="/manageExam"> <i
								class="glyphicon glyphicon-home"></i> Quản lý Đề thi
						</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
			<form>
				<div class="form-group">
					<a th:href="@{/addExam}">thêm đề thi</a>
					<table border="1">
						<tr>
							<th>ID</th>
							<th>Tên đề</th>
							<th>Tên môn học</th>
							<th>Tên Lớp</th>
							<th>Sửa</th>
							<th>Xóa</th>
							<th>Thêm câu hỏi</th>
			
						</tr>
						<tr th:each="exam : ${listExam}">

							<td th:utext="${exam.idDe}"></td>
							<td th:utext="${exam.tenDe}"></td>
							<td th:utext="${exam.monHoc.tenMonHoc}" th:if="${exam.monHoc!=null}"></td>
							<td th:unless="${exam.monHoc}">NULL</td>
							<td th:utext="${exam.lop.tenLop}" th:if="${exam.lop!=null}"></td>
							<td th:unless="${exam.lop}">NULL</td>
							 <td><a th:href="@{'/deleteExam/'+${exam.idDe}}">Delete</a>
							</td>
							<td><a th:href="@{'/editExam/'+${exam.idDe}}">Edit</a></td>
							<td><a th:href="@{'/addQuestion/'+${exam.idDe}}">Thêm câu hỏi</a></td>
						</tr>
					</table>


				</div>

				<button type="submit" name="btn" value="1" class="btn btn-primary">Submit</button>

			</form>

		</div>
		<!-- pagination -->
		<div th:if="${totalPages > 1}">
			<div class="row col-sm-10">
				<div class="col-sm-2">Total Rows: [[${totalItems}]]</div>
				<div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
						th:if="${currentPage != i}" th:href="@{'/manageExam/page/' + ${i}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
						&nbsp;
					</span>
				</div>
				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/manageExam/page/' + ${currentPage + 1}}">Next</a> <span
						th:unless="${currentPage < totalPages}">Next</span>
				</div>

				<div class="col-sm-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/manageExam/page/' + ${totalPages}}">Last</a> <span
						th:unless="${currentPage < totalPages}">Last</span>
				</div>
			</div>
		</div>

	</div>

	<script src="//code.jquery.com/jquery.js"></script>
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>